.elementor-kit-5 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-c975fe3: #F4F4F4;
    --e-global-color-46e10b7: #030304;
    --e-global-color-335476e: #8176FF;
    --e-global-color-d0a6618: #534D9F;
    --e-global-color-056eebd: #151518;
    --e-global-color-8f64ec5: #1C1B1B;
    --e-global-color-11d43d0: #D4D4D4;
    --e-global-color-da57db1: #6B5EFF;
    --e-global-color-eab4dc8: #151330;
    --e-global-color-100af63: #1F1B41;
    --e-global-typography-primary-font-family: "Montserrat";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Montserrat";
    --e-global-typography-secondary-font-size: 46px;
    --e-global-typography-secondary-font-weight: 600;
    --e-global-typography-secondary-line-height: 1.15em;
    --e-global-typography-text-font-family: "Work Sans";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 300;
    --e-global-typography-accent-font-family: "Montserrat";
    --e-global-typography-accent-font-size: 16px;
    --e-global-typography-accent-font-weight: 400;
    --e-global-typography-d5cf122-font-family: "Work Sans";
    --e-global-typography-d5cf122-font-size: 18px;
    --e-global-typography-d5cf122-font-weight: 300;
    --e-global-typography-4dab1ce-font-family: "Montserrat";
    --e-global-typography-4dab1ce-font-size: 18px;
    --e-global-typography-4dab1ce-font-weight: 600;
    --e-global-typography-dee4241-font-family: "Work Sans";
    --e-global-typography-dee4241-font-size: 16px;
    --e-global-typography-dee4241-font-weight: 400;
    --e-global-typography-45d4cf1-font-family: "Montserrat";
    --e-global-typography-45d4cf1-font-size: 60px;
    --e-global-typography-45d4cf1-font-weight: 600;
    --e-global-typography-45d4cf1-text-transform: uppercase;
    --e-global-typography-45d4cf1-line-height: 1em;
    --e-global-typography-018cce8-font-family: "Montserrat";
    --e-global-typography-018cce8-font-size: 20px;
    --e-global-typography-018cce8-font-weight: 400;
    --e-global-typography-8489a30-font-family: "Montserrat";
    --e-global-typography-8489a30-font-size: 24px;
    --e-global-typography-8489a30-font-weight: 600;
    --e-global-typography-8489a30-line-height: 1.4em;
    --e-global-typography-085461f-font-family: "Work Sans";
    --e-global-typography-085461f-font-size: 16px;
    --e-global-typography-085461f-font-weight: 300;
    --e-global-typography-085461f-line-height: 1.7em;
    --e-global-typography-67671d6-font-family: "Montserrat";
    --e-global-typography-67671d6-font-size: 20px;
    --e-global-typography-67671d6-font-weight: 400;
    --e-global-typography-67671d6-font-style: italic;
    color: var(--e-global-color-11d43d0);
    font-family: work sans, Sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: var(--e-global-color-056eebd)
}

.elementor-kit-5 a {
    color: var(--e-global-color-335476e)
}

.elementor-kit-5 a:hover {
    color: var(--e-global-color-d0a6618);
    font-family: work sans, Sans-serif
}

.elementor-kit-5 h1 {
    color: var(--e-global-color-c975fe3);
    font-family: montserrat, Sans-serif;
    font-size: 60px
}

.elementor-kit-5 h2 {
    color: var(--e-global-color-c975fe3);
    font-family: montserrat, Sans-serif;
    font-size: 46px;
    font-weight: 600
}

.elementor-kit-5 h3 {
    color: var(--e-global-color-c975fe3);
    font-family: montserrat, Sans-serif;
    font-size: 24px;
    font-weight: 600
}

.elementor-kit-5 h4 {
    color: var(--e-global-color-335476e);
    font-family: montserrat, Sans-serif;
    font-size: 18px;
    font-weight: 600
}

.elementor-kit-5 h5 {
    color: var(--e-global-color-c975fe3);
    font-family: work sans, Sans-serif
}

.elementor-kit-5 h6 {
    color: var(--e-global-color-c975fe3);
    font-family: work sans, Sans-serif;
    font-size: 18px
}

.elementor-kit-5 button,
.elementor-kit-5 input[type=button],
.elementor-kit-5 input[type=submit],
.elementor-kit-5 .elementor-button {
    font-family: work sans, Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--e-global-color-c975fe3);
    background-color: var(--e-global-color-335476e);
    border-style: solid;
    border-width: 0;
    border-radius: 50px 50px 50px 50px;
    padding: 20px 32px
}

.elementor-kit-5 button:hover,
.elementor-kit-5 button:focus,
.elementor-kit-5 input[type=button]:hover,
.elementor-kit-5 input[type=button]:focus,
.elementor-kit-5 input[type=submit]:hover,
.elementor-kit-5 input[type=submit]:focus,
.elementor-kit-5 .elementor-button:hover,
.elementor-kit-5 .elementor-button:focus {
    color: var(--e-global-color-c975fe3);
    background-color: var(--e-global-color-da57db1);
    border-style: solid;
    border-width: 0;
    border-radius: 50px 50px 50px 50px
}

.elementor-kit-5 label {
    color: var(--e-global-color-c975fe3);
    font-size: 18px;
    font-weight: 400
}

.elementor-kit-5 input:not([type=button]):not([type=submit]),
.elementor-kit-5 textarea,
.elementor-kit-5 .elementor-field-textual {
    font-family: work sans, Sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--e-global-color-11d43d0);
    background-color: var(--e-global-color-056eebd);
    border-style: solid;
    border-width: 0 0 2px;
    border-color: var(--e-global-color-335476e);
    border-radius: 0 0 0 0;
    padding: 0
}

.elementor-kit-5 input:focus:not([type=button]):not([type=submit]),
.elementor-kit-5 textarea:focus,
.elementor-kit-5 .elementor-field-textual:focus {
    color: var(--e-global-color-11d43d0);
    background-color: var(--e-global-color-056eebd);
    border-style: solid;
    border-color: var(--e-global-color-d0a6618)
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px
}

    {}

h1.entry-title {
    display: var(--page-title-display)
}

@media(max-width:1024px) {
    .elementor-kit-5 {
        --e-global-typography-018cce8-font-size: 16px
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px
    }
}

@media(max-width:767px) {
    .elementor-kit-5 {
        --e-global-typography-secondary-font-size: 30px;
        --e-global-typography-text-font-size: 14px;
        --e-global-typography-d5cf122-font-size: 16px;
        --e-global-typography-45d4cf1-font-size: 40px;
        --e-global-typography-018cce8-font-size: 14px
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px
    }
}